.container {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 500px;
  flex-direction: column;
  align-items: center;
  .box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  p {
    color: white;
    text-align: center;
  }
}
